aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
async_pymongo
numpy
unidecode
pyfiglet
telegraph
hachoir
search_engine_parser
heroku3
lyricsgenius
motor
ntgcalls
pillow==9.5.0
psutil
pykeyboard
py-tgcalls
git+https://github.com/KurimuzonAkuma/pyrogram@dev
python-dotenv
emojis
pyyaml
telegraph 
requests
speedtest-cli
spotipy
tgcrypto
gpytranslate
wget
youtube-search
youtube-search-python
yt-dlp
